.home {
  position: relative;

  &__button-back {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__window {
    border: 2px black solid;
    border-radius: 5px;
    min-width: 240px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.9);

    &_big {
      min-width: 400px;
      min-height: 300px;
      transform: translate(-50%, -50%);
      transition: 1s;
    }
  }
}

.home-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#windy {
  width: 70%;
  height: 40%;
}

@media (max-width:600px) {
  .home {
    &__window {
      &_big {
        min-width: 300px;
        min-height: 300px;
      }
    }
  }
}