.map {
  height: 250px;
  position: absolute;
  bottom: 30px;

  &__container {
    height: 250px;
    width: 390px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 2px 50px 20px #fff;
  }
}